<% if notice %>
<div class="row">
	<div class="" style="text-align: center; background-color: #dff0d8; color: #3c763d; border-color: #d6e9c6">
		<%= notice.html_safe %>
	</div>
</div>
	


<% elsif alert %>
  <div id="validation_msgs">
  	<br>
	<div class="alert alert-danger" role="alert" style="margin: 0px">
	   <%= alert.html_safe %>
	</div>
  </div>
<% end %>