
<% content_for :styles do %>
    <style type="text/css">
        .heading-tittle h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    background-color: inherit;
    padding-left: 14px;
    padding-right: 14px;
    z-index: 2;
    font-size: 26px;
    line-height: 24px;
    background: #fff;
    margin: 0;
    text-transform: uppercase; }

    .heading-tittle.color-black h2{
            color: #222;
    }
    .heading-tittle {
    position: relative;
    text-align: center;
}
.heading-tittle::before, .heading-tittle::after {
    content: "";
    position: absolute;
    width: 35%;
    height: 0;
    border-top-width: 2px;
    color: #3b1e9a;}

    .heading-tittle::after {
    top: 50%;
    border-top-style: solid;
    left: auto;
    right: 33%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    </style>
<%end%> 
<div>
      <div class="heading-tittle color-black w-container">
        <h2 class="-5" style="margin: 30px 0px 30px 0px;">Applications</h2>
    </div>
    <div>
          <h6 class="heading-2">
          	Applicants should submit the following items by email : <br>
            <b> E-Mail ID </b>: prme.doctoral@spjimr.org <br>
            <b> Subject Line </b> : Doctoral Colloquium-The 8th PRME Asia Forum- YOURNAME

          	    
          	</h6>
          </div>
          <div class="row">
      <div class="card" style="padding: 10px; text-align: justify;">
          <p>
          	<b> All items below should be collated into one PDF file named .pdf (substitute your full name where it reads YOURNAME): </b>
          	<li>
          		A TWO-page overview of your doctoral research that describes your research question, work in progress, and expected contributions. This overview should also include (1) a paragraph that articulates what you hope to gain from attending the Doctoral Colloquium, and (2) an abstract of no more than 100 words.
          	</li>
          	<li>
          	A short biographical sketch on another page.

          	</li>
          	<li>
          		An up-to-date curriculum vita.

          	</li>
          	<li>
             Optionally, one publication that you feel best illustrates your progress in your research. 
            </li>
            <li>
              An email letter. These letters should also reference as to how you might benefit from the Doctoral Colloquium and how they expect that you might benefit the other students in this group experience.
            </li> <br> <br>
          	All submissions must be received by the chairs by September30th, 2018. Submissions received after this date will not be considered. Submissions will be acknowledged by email once they have been checked for completeness.

          </p>
          </div></div>

</div>