
<% content_for :styles do %>
    <style type="text/css">
        .heading-tittle h2 {
          text-transform: uppercase;
          position: relative;
          text-align: center;
          font-size: 28px;
          font-weight: 400px;
          line-height: 10px;
          letter-spacing: 1px;
          font-family: 'Roboto Condensed', sans-serif;
     }

          @media only screen and (max-width: 600px) {
     .align_height_for_mobile {
      height: 140px;
     }
}
    

    </style>
<%end%> 

<div>
  <div class="container-5 w-container">
    <div class="heading-tittle color-black w-container" style="margin-top: 20px; margin-bottom: 30px;">
    <h2 class="-5"><p style="text-decoration: underline; text-decoration-color: #3b1e9a;">Contact Us</p></h2>
    </div>
    <div class="row-3 w-row">
      <div class="column-6 w-col w-col-6">
        <div class="card align_height_for_mobile">
          <div class="row-5 w-row">
            <div class="w-col w-col-9" style="margin-left: 20px;">
              <h4 class="heading-8" style="text-align: left !important;font-family: 'Roboto Condensed', sans-serif;">Dr. Chandrika Parmar</h4>
              <h5 class="heading-10" style="text-align: left !important;font-family: 'Roboto Condensed', sans-serif;">Associate Professor, SPJIMR
              </h5>
              <h5 class="heading-10" style="text-align: left !important;font-family: 'Roboto Condensed', sans-serif;"><i class="fa fa-envelope w3-xxxlarge" style="font-size: 18px !important; "></i> chandrika.parmar@spjimr.org</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="column-6 w-col w-col-6">
        <div class="card align_height_for_mobile">
          <div class="row-4 w-row">
            <div class="column-7 w-col w-col-9" style="margin-left: 20px;">
              <h4 class="heading-8" style="text-align: left !important;font-family: 'Roboto Condensed', sans-serif;">Ms. Ranjeeta Bhattacharya</h4>
              <h5 class="heading-10" style="text-align: left !important;font-family: 'Roboto Condensed', sans-serif;">Research Associate, SPJIMR</h5>
              <h5 class="heading-10" style="text-align: left !important;font-family: 'Roboto Condensed', sans-serif;"><i class="fa fa-envelope w3-xxxlarge" style="font-size: 18px !important; "></i>  prme.asiaforum@spjimr.org</h5>
              
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>