<div>
  <div class="container-5 w-container">
    <div class="row-3 w-row">
      <div class="column-6 w-col w-col-6">
        <div class="div-block-5" style="background-color: #f2f2f2">
          <div class="row-4 w-row">
            <div class="column-7 w-col w-col-9" style="margin-left: 20px;">
              <h4 class="heading-8" style="text-align: left !important;">Ms. Ranjeeta Bhattacharya</h4>
              <h5 class="heading-10" style="text-align: left !important;">Research Associate, SPJIMR</h5>
              <h5 class="heading-10" style="text-align: left !important;">E-mail : prme.asiaforum@spjimr.org</h5>
              <h5 class="heading-10" style="text-align: left !important;">Contact No. : +91 22 6145 4316 (between 10 am-6 pm IST)</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="column-5 w-col w-col-6">
        <div class="div-block-5" style="background-color: #f2f2f2">
          <div class="row-5 w-row">
            <div class="w-col w-col-9" style="margin-left: 20px;">
              <h4 class="heading-8" style="text-align: left !important;">Dr. Chandrika Parmar</h4>
              <h5 class="heading-10" style="text-align: left !important;">Associate Professor
              </h5>
              <h5 class="heading-10" style="text-align: left !important;">E-mail : chandrika.parmar@spjimr.org</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>