<div>
      <div class="w-container" style="margin-top: 30px;">
        <h3 class="heading-5">Colloquium Details</h3>
    </div>
    <div>
          <h6 class="heading-2">
          	The half day Doctoral Colloquium will give opportunity to PhD/FPM students to present <br>
          	 their research to other students and experts in the field. This will be held on <br>
          	    <b> December 12th, 2018. </b>
          	</h6>
          </div>
          <div class="row">
      <div class="card" style="padding: 10px; text-align: justify;">
          <p>
          	<b> PhD colloquium for doctoral candidates: </b>
          	<li>
          		The Colloquium committee will select approximately 25 participants who will be expected to participate in peer-review exercises, give short, informal presentations of their work during the Colloquium, and follow it up with extensive group discussion.

          	</li>
          	<li>
          		Faculty members at institutions in India and abroad would be invited as discussants for each of the shortlisted papers. Each paper invited for full-fledged presentation would be assigned a discussant.

          	</li>
          	<li>
          		The conference is designed to ensure focussed discussions among the doctoral student participants, faculty discussants and other academician invitees on each paper.
          	</li>
          	<br>
          	<b>
          		Funding <br> <br>
          	</b>
          	We are hoping to offer some financial support to doctoral colloquium participants. The details of this support will be announced in the future. Women participants are strongly encouraged to apply.
          </p>
          </div></div>

</div>