
<% content_for :styles do %>
    <style type="text/css">
        .heading-tittle h2 {
          text-transform: uppercase;
          position: relative;
          text-align: center;
          font-size: 28px;
          font-weight: 400px;
          line-height: 10px;
          letter-spacing: 1px;
          font-family: 'Roboto Condensed', sans-serif;
     }
    
/*@media only screen and (max-width: 1280px) {
    .w-slider {
        height: 233px !important;
    }
}

@media only screen and (min-width: 1600px) {
    .w-slider {
        height: 298px !important;
    }
}


@media only screen and (max-width: 600px) {
  .w-slider {
    height: 60px !important;
  }
}*/


@media only screen and (max-width: 600px) {
  .w-slider {
    height: 100px !important;
  }

}
    </style>
<%end%> 

<% content_for :scripts do %>
<script type="text/javascript">
  window.onload = function() {};
</script>
<%end%>

<div>

    <div class="heading-tittle color-black w-container" style="max-width: none !important;">
          <div>
      <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="w-slider" >
        <div class="w-slider-mask">
         <!--  
          <div class="slide-2 w-slide">
            <a href="/tracks" class="button" style="position: absolute; top: 63%; left: 47%;  cursor: pointer; opacity: 0">
              
            </a>
          </div> -->
          <div class="slide-6 w-slide"></div>
          <!-- <div class="slide-6 w-slide"></div> -->
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-round"></div>
      </div>
      <div class="w-container"></div>
     <h2 class="" style="margin: 30px 0px 30px 0px"><p style="text-decoration: underline; text-decoration-color: #3b1e9a;">Colloquium Details</p></h2>
    </div>
      
    </div>
    <div>
      <h6 class="heading-2" style="font-family: 'Roboto Condensed', sans-serif;">
    	The full day Doctoral Colloquium will give opportunity to PhD/FPM students to present 
    	 their research to other students and experts in the field. This will be held on 
    	    <b> December 12th, 2018.  </b>
    	</h6>
    </div>
    <div class="row-2 w-row" style="margin-top: 20px;">
      <div class="column-6 w-col w-col-6">
         <div class="card-details" style="padding: 10px;">
          <div class="row-12 w-row">
          
      <h4 class="heading-8" style="text-align: center !important;font-family: 'Roboto Condensed', sans-serif; text-transform: uppercase;">PhD colloquium for doctoral candidates</h4>
      <li style="padding-left: 10px;">
        The Colloquium committee will select approximately 25 participants who will be expected to participate in peer-review exercises, give short, informal presentations of their work during the Colloquium, and follow it up with extensive group discussion.

      </li>
      <li style="padding-left: 10px; margin-top: 10px;">
        Faculty members at institutions in India and abroad would be invited as discussants for each of the shortlisted papers. Each paper invited for full-fledged presentation would be assigned a discussant.

      </li>
      <li style="padding-left: 10px; margin-top: 10px;">
        The conference is designed to ensure focussed discussions among the doctoral student participants, faculty discussants and other academician invitees on each paper.
      </li>
      <br>
      </div>
        </div>
      </div>
      <div class="column-6 w-col w-col-6">
        <div class="card-details" style="padding: 10px; height: 243px;">
          <h4 class="heading-8" style="text-align: center !important;font-family: 'Roboto Condensed', sans-serif;">FUNDING</h4>
        We are hoping to offer some financial support to doctoral colloquium participants. The details of this support will be announced in the future. Women participants are strongly encouraged to apply.
        </div>
      </div>
    </div>




</div>
