    <div>
      <div class="container-5 w-container">
        <h3 class="heading-5">External advisory committee</h3>
        <div class="row-2 w-row">
          <div class="column-5 w-col w-col-6">
            <div class="div-block-5">
              <div class="row-6 w-row">
                <div class="w-col w-col-3"><img src="../Dr.-K-Kuperan-Vishwanathan.jpg" width="117" class="image-6"></div>
                <div class="w-col w-col-9">
                  <h4 class="heading-8">Dr. K Kuperan Vishwanathan</h4>
                  <h5 class="heading-9">Professor and Head of Financial Analysis and Policy Group</h5>
                  <h5 class="heading-10">Othman Yeop Abdullah Graduate School of Business, Malaysia<br></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="column-6 w-col w-col-6">
            <div class="div-block-5">
              <div class="row-7 w-row">
                <div class="w-col w-col-3"><img src="../Kamal-Singh-Executive-Director-UN-Global-Compact-Network-India.jpg" class="image-6"></div>
                <div class="w-col w-col-9">
                  <h4 class="heading-8">Mr. Kamal Singh</h4>
                  <h5 class="heading-9">Executive Director</h5>
                  <h5 class="heading-10">United Nations Global Compact Network India<br></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-3 w-row">
          <div class="column-5 w-col w-col-6">
            <div class="div-block-5">
              <div class="row-5 w-row">
                <div class="w-col w-col-3"><img src="../Dr.-Pamsy-Hui.jpg" width="225" class="image-6"></div>
                <div class="w-col w-col-9">
                  <h4 class="heading-8">Dr. Pamsy Hui</h4>
                  <h5 class="heading-9">MBA Programme Director</h5>
                  <h5 class="heading-10">The Hong Kong Polytechnic University</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="column-6 w-col w-col-6">
            <div class="div-block-5">
              <div class="row-4 w-row">
                <div class="w-col w-col-3"><img src="../Dr.-Bhaskar-Chatterjee.jpg" class="image-6"></div>
                <div class="column-7 w-col w-col-9">
                  <h4 class="heading-8">Dr. Bhaskar Chatterjee</h4>
                  <h5 class="heading-9">Senior Director</h5>
                  <h5 class="heading-10">Indian Institute of Learning and Management (IILM)</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-row">
          <div class="column-5 w-col w-col-6">
            <div class="div-block-5">
              <div class="w-row">
                <div class="w-col w-col-3"><img src="../Professor-PD-Jose.jpg" width="84" class="image-6"></div>
                <div class="w-col w-col-9">
                  <h4 class="heading-8">Dr. P.D. Jose</h4>
                  <h5 class="heading-9">Professor (Strategy) &amp; Chair</h5>
                  <h5 class="heading-10"> Indian Institute of Management-Bangalore<br></h5>
                </div>
              </div>
            </div>
          </div>
          <div class="column-6 w-col w-col-6">
            <div class="div-block-5">
              <div class="w-row">
                <div class="w-col w-col-3"><img src="../Prof.-Stephen-Yong-Seung-Park.jpg" class="image-6"></div>
                <div class="w-col w-col-9">
                  <h4 class="heading-8">Prof. Stephen Yong-Seung Park</h4>
                  <h5 class="heading-9">Dean &amp; Professor</h5>
                  <h5 class="heading-10">Kyung Hee University, Seoul</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>