    <div>
      <div class="w-container">
        <h3 class="heading-5">FEES</h3>
        <div data-duration-in="300" data-duration-out="100" class="w-tabs">
          <div class="tabs-menu w-tab-menu">
            <a data-w-tab="Tab 1" class="open-tab w-inline-block w-tab-link w--current">
              <div>INR</div>
            </a>
            <a data-w-tab="Tab 2" class="open-tab w-inline-block w-tab-link">
              <div>DOLLARS</div>
            </a>
          </div>
          <div class="w-tab-content">
            <div data-w-tab="Tab 1" class="w-tab-pane">
              <div class="div-block-4">
                <div>
                  <div class="w-row">
                    <div class="column-4 w-col w-col-6" style="background-color: #696969;border-bottom: 1px solid white; border-top-left-radius: 10px;">
                      <h5 class="heading-6" style="color:white">Industry participant</h5>
                    </div>
                    <div class="column-3 w-col w-col-6" style="border: 1px solid #696969; border-top-right-radius: 10px;">
                      <h5 class="heading-7">8000 INR per person</h5>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="w-row">
                    <div class="column-4 w-col w-col-6" style="background-color: #696969;border-bottom: 1px solid white; border-top-left-radius: 10px;">
                      <h5 class="heading-6" style="color:white">Members of UN Global Compact Network</h5>
                    </div>
                    <div class="column-3 w-col w-col-6" style="border: 1px solid #696969; border-top-right-radius: 10px;">
                      <h5 class="heading-7">6000 INR per person</h5>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="w-row">
                    <div class="column-4 w-col w-col-6" style="background-color: #696969;border-bottom: 1px solid white; border-top-left-radius: 10px;">
                      <h5 class="heading-6" style="color:white">Academics</h5>
                    </div>
                    <div class="column-3 w-col w-col-6" style="border: 1px solid #696969; border-top-right-radius: 10px;">
                      <h5 class="heading-7">6000 INR per person</h5>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="w-row">
                    <div class="column-4 w-col w-col-6" style="background-color: #696969;border-bottom: 1px solid white; border-top-left-radius: 10px;">
                      <h5 class="heading-6" style="color:white">Students</h5>
                    </div>
                    <div class="column-3 w-col w-col-6" style="border: 1px solid #696969; border-top-right-radius: 10px;">
                      <h5 class="heading-7">2000 INR per person</h5>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="w-row">
                    <div class="column-4 w-col w-col-6" style="background-color: #696969;border-bottom: 1px solid white; border-top-left-radius: 10px; padding-bottom: 2px;">
                      <h5 class="heading-6" style="color:white">Social Sector</h5>
                    </div>
                    <div class="column-3 w-col w-col-6" style="border: 1px solid #696969; border-top-right-radius: 10px;">
                      <h5 class="heading-7">1500 INR per person</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div data-w-tab="Tab 2" class="w-tab-pane w--tab-active">
              <div class="div-block-4">
                <div>
                  <div class="w-row">
                    <div class="column-4 w-col w-col-6" style="background-color: #696969;border-bottom: 1px solid white; border-top-left-radius: 10px;">
                      <h5 class="heading-6" style="color:white">Industry participant</h5>
                    </div>
                    <div class="column-3 w-col w-col-6" style="border: 1px solid #696969; border-top-right-radius: 10px;">
                      <h5 class="heading-7">120 USD per person</h5>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="w-row">
                    <div class="column-4 w-col w-col-6" style="background-color: #696969;border-bottom: 1px solid white; border-top-left-radius: 10px;">
                      <h5 class="heading-6" style="color:white">Members of UN Global Compact Network</h5>
                    </div>
                    <div class="column-3 w-col w-col-6" style="border: 1px solid #696969; border-top-right-radius: 10px;">
                      <h5 class="heading-7">90 USD per person</h5>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="w-row">
                    <div class="column-4 w-col w-col-6" style="background-color: #696969;border-bottom: 1px solid white; border-top-left-radius: 10px;">
                      <h5 class="heading-6" style="color:white">Academics</h5>
                    </div>
                    <div class="column-3 w-col w-col-6" style="border: 1px solid #696969; border-top-right-radius: 10px;">
                      <h5 class="heading-7">90 USD per person</h5>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="w-row">
                    <div class="column-4 w-col w-col-6" style="background-color: #696969;border-bottom: 1px solid white; border-top-left-radius: 10px;">
                      <h5 class="heading-6" style="color:white">Students</h5>
                    </div>
                    <div class="column-3 w-col w-col-6" style="border: 1px solid #696969; border-top-right-radius: 10px;">
                      <h5 class="heading-7">30 USD per person</h5>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="w-row">
                    <div class="column-4 w-col w-col-6" style="background-color: #696969;border-bottom: 1px solid white; border-top-left-radius: 10px; padding-bottom: 2px;">
                      <h5 class="heading-6" style="color:white">Social Sector</h5>
                    </div>
                    <div class="column-3 w-col w-col-6" style="border: 1px solid #696969; border-top-right-radius: 10px;">
                      <h5 class="heading-7">20 USD per person</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>