

<div>
      <div class="w-container" style="margin-top: 30px;">
        <h3 class="heading-5">About the forum</h3>
    </div>

    <div class="w-container">
    	<p>
    		<div class="w-container" style="margin-top: 30px; text-align: left !important;">
        <h5 class="heading-5" style="text-align: left !important;">OBJECTIVES</h5>
    </div>
    		<li>
    			To bring together advocates of responsible citizenship, management and leadership from universities, corporates, civil society and management institutions across the Asia- Pacific region.


    		</li>
    		<li>
    			To influence research, theory and practices in the domain of education; pedagogy; conscious capitalism; sustainability. 
    		</li>
    		 <br><br>
    		 <div class="w-container" style="margin-top: 30px; text-align: left !important;">
        <h5 class="heading-5" style="text-align: left !important;">OUTCOMES</h5>
    </div>
    <li>
    	Create a network of scholars working in the domain.
    </li>
    <li>
    	Creating awareness of best practices in the domain
    </li>
    <li>
    	To publish selected papers from proceedings of the forum by reputed journals and publishers
    </li>

		</p>
    </div>
</div>