
<% content_for :styles do %>
    <style type="text/css">
        .heading-tittle h2 {
          text-transform: uppercase;
          position: relative;
          text-align: center;
          font-size: 28px;
          font-weight: 400px;
          line-height: 10px;
          letter-spacing: 1px;
          font-family: 'Roboto Condensed', sans-serif;
     }
    

    </style>
<%end%> 
<div>
      <div class="heading-tittle color-black w-container" style="margin-top: 30px; margin-bottom: 30px;">
        <h2 class="-5"><p style="text-decoration: underline; text-decoration-color: #3b1e9a;">About the forum</p></h2>
    </div>
<div class="row-3 w-row">

  <div class="column-6 w-col w-col-6">
        <div class="card-track" style="padding: 10px; margin: 20px;">
      <h5 class="heading-5" style="text-align: center !important;"> <u> OBJECTIVES </u></h5>
      <li>
          To bring together advocates of responsible citizenship, management and leadership from universities, corporates, civil society and management institutions across the Asia- Pacific region.


        </li>
        <li>
          To influence research, theory and practices in the domain of education; pedagogy; conscious capitalism; sustainability. 
        </li>
    </div>
  </div>

  <div class="column-6 w-col w-col-6">
              <div class="card-track" style="padding: 10px; margin: 20px; height: 150px">
            <h5 class="heading-5" style="text-align: center !important;"> <u> OUTCOMES </u></h5>
            <li>
      Create a network of scholars working in the domain.
    </li>
    <li>
      Creating awareness of best practices in the domain
    </li>
    <li>
      To publish selected papers from proceedings of the forum by reputed journals and publishers
    </li>
          </div>
  </div>
  </div>
</div>