<% content_for :styles do %>
    <style type="text/css">
        .heading-tittle h2 {
          text-transform: uppercase;
          position: relative;
          text-align: center;
          font-size: 28px;
          font-weight: 400px;
          line-height: 10px;
          letter-spacing: 1px;
          font-family: 'Roboto Condensed', sans-serif;
     }
/* LIST #3 */
#list3 { }
#list3 ul { list-style-image: url("../arrow-right.svg"); color:#000; font-size:16px; }
#list3 ul li { line-height:30px; }

@media only screen and (max-width: 1280px) {
    .w-slider {
        height: 233px !important;
    }
}

@media only screen and (min-width: 1600px) {
    .w-slider {
        height: 298px !important;
    }
}

.w-slider {height: 265px;}
    </style>
<%end%> 




    <div style="margin-bottom: 200px;">



      <div class="heading-tittle color-black w-container" style="max-width: none !important;">





              <div data-delay="4000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1" class="w-slider">
        <div class="w-slider-mask">
          <div class="slide-2 w-slide"></div>
          <div class="slide-3 w-slide">
            <a href="/tracks" class="button" style="position: absolute; top: 63%; left: 47%;  cursor: pointer; opacity: 0">
              
            </a>
          </div>
          <!-- <div class="slide-6 w-slide"></div> -->
        </div>
        <div class="w-slider-arrow-left">
          <div class="w-icon-slider-left"></div>
        </div>
        <div class="w-slider-arrow-right">
          <div class="w-icon-slider-right"></div>
        </div>
        <div class="w-slider-nav w-round"></div>
      </div>
      <div class="w-container"></div>
       <h2 class="" style="margin-top: 30px; margin-bottom:30px;"><p style="text-decoration: underline; text-decoration-color: #3b1e9a;">List of tracks</p></h2>

       <h5 tyle="margin-top: 30px; margin-bottom:30px;"><p style="text-decoration: ; text-decoration-color: #3b1e9a; font-family: 'Roboto Condensed', sans-serif;">The conference presentation tracks include:</h5>


</div>
        
        <div class="row-2" style="margin-bottom: 200px;">
          <div class="column-6 w-col w-col-6">
            <div class="card-new" style="height: 260px; padding: 20px;">
            <div id="list3">
   <ul>
      <li><a href="">Asian Way of Thinking: Integrating Local Diversities in Management Education</a></li>
      <li><a href="">Building Inclusive Markets</a></li>
      <li><a href="">Business Initiatives for Sustainable Development</a> </li>
      <li><a href="/trackdetails#4">Engaging with SDGs - The Local Experiences  </a></li>
      <li><a href="/trackdetails#5">Extreme Events, Disasters and Building Resilience</a></li>
      <li><a href="">Global Peace and Education</a></li>
      <li><a href="/trackdetails#6">Inequality : The Role for Businesses</a></li>
   </ul>
</div>
</div>
            
          </div>
          <div class="column-6 w-col w-col-6">
            <div class="card-new" style="margin-bottom: 100px; padding: 20px 20px 0px 20px;">
            <div id="list3">
              <ul>
            <li>
              <a href="/trackdetails#7">Innovating on Pedagogy and Curriculum</a>
            </li>
            <li><a href="/trackdetails#12">Management Education for Future</a></li>
            <li><a href="">Re-thinking CSR</a></li>
            <li><a href="/trackdetails#9">Social Entrepreneurship</a> </li>
            <li><a href="">Social Impact Investing </a></li>
            <li><a href="/trackdetails#11">Sustainability and Development</a></li>
            <li><a href="">Sustainable Businesses</a></li>
            <li><a href="">Sustainable Cities</a> </li>
            </ul>
          </div>
          </div>
          </div>
        </div>
      </div>
    







