
<% content_for :styles do %>
    <style type="text/css">
        .heading-tittle h2 {
          text-transform: uppercase;
          position: relative;
          text-align: center;
          font-size: 28px;
          font-weight: 400px;
          line-height: 10px;
          letter-spacing: 1px;
          font-family: 'Roboto Condensed', sans-serif;
     }
   .wrap-collabsible {
  /*margin-bottom: 1.2rem 0;*/
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #a9a9a9;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 



   .wrap-collabsible1 {
  /*margin-bottom: 1.2rem 0;*/
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle1 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle1:hover {
  color: #a9a9a9;
}

.lbl-toggle1::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle1:checked + .lbl-toggle1::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content1 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle1:checked + .lbl-toggle1 + .collapsible-content1 {
  max-height: 960px;
}

.toggle1:checked + .lbl-toggle1 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content1 .content-inner1 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 





   .wrap-collabsible2 {
  /*margin-bottom: 1.2rem 0;*/
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle2 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle2:hover {
  color: #a9a9a9;
}

.lbl-toggle2::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle2:checked + .lbl-toggle2::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content2 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle2:checked + .lbl-toggle2 + .collapsible-content2 {
  max-height: 960px;
}

.toggle2:checked + .lbl-toggle2 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content2 .content-inner2 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 




   .wrap-collabsible3 {
  /*margin-bottom: 1.2rem 0;*/
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle3 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle3:hover {
  color: #a9a9a9;
}

.lbl-toggle3::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle3:checked + .lbl-toggle3::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content3 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle3:checked + .lbl-toggle3 + .collapsible-content3 {
  max-height: 960px;
}

.toggle3:checked + .lbl-toggle3 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content3 .content-inner3 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 






   .wrap-collabsible4 {
  /*margin-bottom: 1.2rem 0;*/
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle4 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle4:hover {
  color: #a9a9a9;
}

.lbl-toggle4::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle4:checked + .lbl-toggle4::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content4 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle4:checked + .lbl-toggle4 + .collapsible-content4 {
  max-height: 960px;
}

.toggle4:checked + .lbl-toggle4 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content4 .content-inner4 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 






   .wrap-collabsible5 {
  /*margin-bottom: 1.2rem 0;*/
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle5 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle5:hover {
  color: #a9a9a9;
}

.lbl-toggle5::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle5:checked + .lbl-toggle5::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content5 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle5:checked + .lbl-toggle5 + .collapsible-content5 {
  max-height: 960px;
}

.toggle5:checked + .lbl-toggle5 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content5 .content-inner5 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 



   .wrap-collabsible6 {
  /*margin-bottom: 1.2rem 0;*/
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle6 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle6:hover {
  color: #a9a9a9;
}

.lbl-toggle6::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle6:checked + .lbl-toggle6::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content6 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle6:checked + .lbl-toggle6 + .collapsible-content6 {
  max-height: 960px;
}

.toggle6:checked + .lbl-toggle6 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content6 .content-inner6 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 


   .wrap-collabsible7 {
  /*margin-bottom: 1.2rem 0;*/
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle7 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle7:hover {
  color: #a9a9a9;
}

.lbl-toggle7::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle7:checked + .lbl-toggle7::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content7 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle7:checked + .lbl-toggle7 + .collapsible-content7 {
  max-height: 960px;
}

.toggle7:checked + .lbl-toggle7 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content7 .content-inner7 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 





   .wrap-collabsible8 {
  /*margin-bottom: 1.2rem 0;*/
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle8 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle8:hover {
  color: #a9a9a9;
}

.lbl-toggle8::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle8:checked + .lbl-toggle8::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content8 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle8:checked + .lbl-toggle8 + .collapsible-content8 {
  max-height: 960px;
}

.toggle8:checked + .lbl-toggle8 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content8 .content-inner8 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 




   .wrap-collabsible9 {
  /*margin-bottom: 1.2rem 0;*/
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle9 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle9:hover {
  color: #a9a9a9;
}

.lbl-toggle9::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle9:checked + .lbl-toggle9::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content9 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle9:checked + .lbl-toggle9 + .collapsible-content9 {
  max-height: 960px;
}

.toggle9:checked + .lbl-toggle9 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content9 .content-inner9 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 




   .wrap-collabsible10 {
  /*margin-bottom: 1.2rem 0;*/
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle10 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle10:hover {
  color: #a9a9a9;
}

.lbl-toggle10::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle10:checked + .lbl-toggle10::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content10 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle10:checked + .lbl-toggle10 + .collapsible-content10 {
  max-height: 960px;
}

.toggle10:checked + .lbl-toggle10 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content10 .content-inner10 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 


   .wrap-collabsible11 {
  /*margin-bottom: 1.2rem 0;*/
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle11 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle11:hover {
  color: #a9a9a9;
}

.lbl-toggle11::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle11:checked + .lbl-toggle11::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content11 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle11:checked + .lbl-toggle11 + .collapsible-content11 {
  max-height: 960px;
}

.toggle11:checked + .lbl-toggle11 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content11 .content-inner11 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 





.lbl-toggle12 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle12:hover {
  color: #a9a9a9;
}

.lbl-toggle12::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle12:checked + .lbl-toggle12::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content12 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle12:checked + .lbl-toggle12 + .collapsible-content12 {
  max-height: 960px;
}

.toggle12:checked + .lbl-toggle12 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content12 .content-inner12 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 

.lbl-toggle13 {
  display: block;

  font-weight: bold;
  
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;

  padding: 10px;

  color: white;
  background: #3a3a3a;

  cursor: pointer;

  /*border-radius: 7px;*/
  transition: all 0.25s ease-out;
}

.lbl-toggle13:hover {
  color: #a9a9a9;
}

.lbl-toggle13::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle13:checked + .lbl-toggle13::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content13 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle13:checked + .lbl-toggle13 + .collapsible-content13 {
  max-height: 960px;
}

.toggle13:checked + .lbl-toggle13 {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content13 .content-inner13 {
  background: #fefdfb;
  border-bottom: 1px solid rgba(250, 224, 66, .45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: .5rem 1rem;
} 


    </style>
<%end%> 
<div>
  <div class="heading-tittle color-black w-container">
    <h2 class="-5" style="margin-top: 30px; margin-bottom: 30px"> <p style="text-decoration: underline; text-decoration-color: #3b1e9a;">Track chairs</p></h2>
    <div class="row-3 w-row">

       <div class="column-6 w-col w-col-6" id="1" style="margin-top: 20px;">
        <div class="card-track" >
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../DrAmbikaZutshi.jpg" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important; padding-top: 0px;font-family: 'Roboto Condensed', sans-serif;">Dr. Ambika Zutshi</h4>
              <p style="text-align: center; margin-bottom: 20px !important; font-size: 14px; color:#6c757d">SUSTAINABLE BUSINESSES</p>
              
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Associate Professor & HDR Director, Department of Management
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Deakin University, Melbourne</h5>
            </div>
          </div>
          <div class="row-5 w-row">
            <div class="w-col w-col-12">
                                  <div class="wrap-collabsible12">
  <input id="collapsible12" class="toggle12" type="checkbox">
  <label for="collapsible12" class="lbl-toggle12">About Dr. Ambika Zutshi</label>
  <div class="collapsible-content12">
    <div class="content-inner12">
      <p style="font-size: 14px; text-align: justify;">
               Content coming soon

              </p>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>



                  <div class="column-6 w-col w-col-6" id="1" style="margin-top: 20px;">
        <div class="card-track" >
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../ProfAnilKulkarni.jpg" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important; padding-top: 22px;font-family: 'Roboto Condensed', sans-serif;">Prof. Anil Kulkarni</h4>
              <p style="text-align: center; margin-bottom: 20px !important; font-size: 14px; color:#6c757d">INNOVATING ON PEDAGOGY AND CURRICULUM</p>
              
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Adjunct Professor
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">SPJIMR</h5>
            </div>
          </div>
          <div class="row-5 w-row">
            <div class="w-col w-col-12">
                                  <div class="wrap-collabsible7">
  <input id="collapsible7" class="toggle7" type="checkbox">
  <label for="collapsible7" class="lbl-toggle7">About Prof. Anil Kulkarni</label>
  <div class="collapsible-content7">
    <div class="content-inner7">
      <p style="font-size: 14px; text-align: justify;">
               Content coming soon

              </p>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>
                  <div class="column-6 w-col w-col-6" id="2" style="margin-top: 20px;">
        <div class="card-track" >
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../DrAnshulVerma.jpg" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important; padding-top: 22px;font-family: 'Roboto Condensed', sans-serif;">Dr. Anshul Verma</h4>
              <p style="text-align: center; margin-bottom: 20px !important; font-size: 14px; color:#6c757d">MANAGEMENT EDUCATION FOR THE FUTURE</p>
              
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Associate Professor (Finance)
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">SPJIMR</h5>
            </div>
          </div>
          <div class="row-5 w-row">
            <div class="w-col w-col-12" style="margin-top: 68px;">
                                  <div class="wrap-collabsible11">
  <input id="collapsible11" class="toggle11" type="checkbox">
  <label for="collapsible11" class="lbl-toggle11">About Dr. Anshul Verma</label>
  <div class="collapsible-content11">
    <div class="content-inner11">
      <p style="font-size: 14px; text-align: justify;">
               Dr. Anshul Verma is an Associate Professor in Finance area at SPJIMR. Previously, he worked as Associate Professor and Chairperson(PGDM-Executive) at IMT, Ghaziabad. Prior to IMT, Ghaziabad, he worked as Associate Professor in Accounting and Finance Area and Associate Programme Head for PGEMP Programme at SPJIMR. He also worked for Birla Institute of Management Technology, Greater Noida. 
 <br> <br>
Dr. Verma holds double Master's degree, in Management with Specialisation in Finance from Birla Institute of Management Technology and in Economics from Dr. B. R. Ambedkar University, Agra and dual Ph. D. in area of Credit Risk Management and in area of Applied Business Economics from Dr. B. R. Ambedkar University, Agra.
<br> <br>
He has more than 16 years of experience in teaching, training and research in area of Accounting and Finance and also in Administration in top ranked Business Schools in India. He has published research papers in with international publications like Emerald, Inderscience and Elsevier and in journals of national repute. 




              </p>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>


 <div class="column-6 w-col w-col-6" id="2" style="margin-top: 20px;">
        <div class="card-track" >
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../DrArvindShatdal.jpg" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important; padding-top: 2px;font-family: 'Roboto Condensed', sans-serif;">Dr. Arvind Shatdal
</h4>
              <p style="text-align: center; margin-bottom: 20px !important; font-size: 14px; color:#6c757d">
DESIGN THINKING IN MANAGEMENT</p>
              
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Assistant Professor and Head, Department of Organization Behavior and Human Resource Management/Founding Coordinator, <br> MBA Program/School of Management and Entrepreneurship (SME)
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Shiv Nadar University</h5>
            </div>
          </div>
          <div class="row-5 w-row">
            <div class="w-col w-col-12">
                                  <div class="wrap-collabsible6">
  <input id="collapsible6" class="toggle6" type="checkbox">
  <label for="collapsible6" class="lbl-toggle6">About Dr. Arvind Shatdal</label>
  <div class="collapsible-content6">
    <div class="content-inner6">
      <p style="font-size: 14px; text-align: justify;">
               Content coming soon.



              </p>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>


            <div class="column-6 w-col w-col-6" id="3" style="margin-top: 20px;">
        <div class="card-track">
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../track/DrDivyaSinghal.jpg" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important; padding-top: 22px;font-family: 'Roboto Condensed', sans-serif;">Dr. Divya Singhal</h4>
              <p style="text-align: center; margin-bottom: 20px !important; font-size: 14px; color:#6c757d">ENGAGING WITH SDGs: THE LOCAL EXPERIENCES</p>
              
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Associate Professor (General Management)
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Goa Institute of Management</h5>
            </div>
          </div>
          <div class="row-5 w-row">
            <div class="w-col w-col-12">
                                  <div class="wrap-collabsible4" style="margin-top: 44px;">
  <input id="collapsible4" class="toggle4" type="checkbox">
  <label for="collapsible4" class="lbl-toggle4">About Dr. Divya Singhal</label>
  <div class="collapsible-content4">
    <div class="content-inner4">
      <p style="font-size: 14px; text-align: justify;">
               Dr. Divya Singhal is working as Associate Professor at the Goa Institute of Management, Goa since 2006. She has four years of experience in journalism and almost four years of experience in teaching prior to GIM. She was a Doctoral Fellow, ICSSR Ministry of Human Resource Development, Government of India and was a recipient of President Guide Award.
 <br>
Dr. Divya was a founder member of the coordination committee of institute’s Social Responsibility initiative named GiveGoa. The initiative aims to help students become more socially aware and responsible towards the broader good of society. Dr. Singhal is a member Representative on “Social Responsibility Sectional Committee, MSD 10” formed by the “Bureau of Indian Standards”, which is a national standards body and national representative member of ISO (International Organization for Standardization). She is part of UN supported PRME working group on Sharing Information on Progress (SIP) and PRME Anti-poverty WG.  Her research interest is in the area of education, gender, social responsibility, quality and other developmental issues.

              </p>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>
      <div class="column-6 w-col w-col-6" id="4" style="margin-top: 20px;">
        <div class="card-track" >
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../track/ProfJankiAndharia.jpeg" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important; font-family: 'Roboto Condensed', sans-serif;">Prof. Janki Andharia</h4>
              <p style="text-align: center; margin-bottom: 20px !important; font-size: 14px;color:#6c757d!important ">EXTREME EVENTS, <br> DISASTERS AND BUILDING RESILIENCE</p>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Dean - Jamsetji Tata School of Disaster Studies <br>
Chairperson - Centre for Disasters and Development, Jamsetji Tata School of Disaster Studies 
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Tata Institute of Social Sciences (TISS, Mumbai)</h5>
            </div>
          </div>
          <div class="row-5 w-row">
            <div class="w-col w-col-12">
                                  <div class="wrap-collabsible5" >
  <input id="collapsible5" class="toggle5" type="checkbox">
  <label for="collapsible5" class="lbl-toggle5">About Prof. Janki Andharia</label>
  <div class="collapsible-content5">
    <div class="content-inner5">
      <p style="font-size: 14px; text-align: justify;">
               Professor Janki Andharia is the Dean of the School of Disaster Studies, Tata Institute of Social Sciences, Mumbai and has over 32 years of experience in the field of community organization and social development. Her areas of work focuses on gender issues, environmental concerns and democratic governance. She received an award for her outstanding contribution to education, at the World Education Congress Global Awards for Excellence in Education, Leadership and Teaching in 2015. <br>
She has been involved in national and state level policy making work and has had a long association with grassroots organizations. She was awarded the Association of Commonwealth Universities Scholarship to pursue her Ph.D. from School of Environment Sciences, University of East Anglia U.K. in the area of Gender, Development and Environment. Professor Andharia was the recipient of the ‘Best Professor in Disaster Management award’, instituted by National Education Leadership Awards, Lokmat, Mumbai for the critical leadership she provided to the establishment of a multidisciplinary Centre for Disaster Management.

              </p>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>



            <div class="column-6 w-col w-col-6" id="5" style="margin-top: 20px;">
        <div class="card-track">
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../Kartik_Dave6.jpg" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important; font-family: 'Roboto Condensed', sans-serif;">Prof. Kartik Dave</h4>
              <p style="text-align: center; margin-bottom: 20px !important; font-size: 14px;color:#6c757d!important ">MANAGEMENT EDUCATION FOR THE FUTURE</p>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Professor (Marketing and Strategy)
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Ambedkar University, Delhi</h5>
            </div>
          </div>
          <div class="row-5 w-row" >
            <div class="w-col w-col-12">
                                  <div class="wrap-collabsible9" style="margin-top: 33px;">
  <input id="collapsible9" class="toggle9" type="checkbox">
  <label for="collapsible9" class="lbl-toggle9">About Prof. Kartik Dave</label>
  <div class="collapsible-content9">
    <div class="content-inner5">
      <p style="font-size: 14px; text-align: justify;">
               Prof Kartik Dave is PhD in Marketing Management from M L S University, Udaipur.  He brings in-rich experience around 20 years in industry and academics. Prof Dave is presently associated with Ambedkar University New Delhi (AUD), where he has been serving as a Professor and Dean of School of Business, Public Policy and Social Entrepreneurship (SBPPSE). He has been involved in teaching, training and research activities. He had been associated as visiting professor at Neoma Business School, France and ETEA, Spain. He has developed new courses like Challenges in Marketing in Emerging Markets, Services Excellence etc. His areas of teaching are Services Marketing, Marketing Management, Marketing Strategy, Retail Marketing, Branding, Social Media Marketing etc.  His research interest lies in Marketing Management, Services Marketing, Branding, Luxury Marketing, Human dimension in Marketing, Inclusive Marketing, Green Marketing, Social Media Marketing, Interdisciplinary issues in Marketing, Marketing to kids, Employability, Wellness Marketing, Retailing and Shopping, Customer analysis, Internationalization in Higher Education, Management Education in India, Quality and Accreditation issues. Professor Dave has published two books and many research papers, cases and articles in academic journals and newspapers in India and abroad. He has been writing in International journals of repute published by Wiley, Inderscience Publications, Emerald, Springer Gabler, ScienceDirect etc. He has been serving as an advisor and member in many editorial and review boards of reputed journals. 


              </p>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>



            <div class="column-6 w-col w-col-6" id="6" style="margin-top: 20px;">
        <div class="card-track" >
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../track/DrKKuperanVishwanathan.jpg" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important;font-family: 'Roboto Condensed', sans-serif;">Dr. K Kuperan Vishwanathan</h4>
              <p style="text-align: center; margin-bottom: 20px !important; font-size: 14px ; color:#6c757d!important">INEQUALITY - THE ROLE OF BUSINESS</p>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Professor and Head of Financial Analysis and Policy Group
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Othman Yeop Abdullah Graduate School of Business Malaysia</h5>
            </div>
          </div>
                              <div class="wrap-collabsible3">
  <input id="collapsible3" class="toggle3" type="checkbox">
  <label for="collapsible3" class="lbl-toggle3">About Dr. K Kuperan Vishwanathan</label>
  <div class="collapsible-content3">
    <div class="content-inner3">
      <p style="font-size: 14px; text-align: justify;">
               Dr. K Kuperan Viswanathan is Professor of Resource Economics and Management. Before joining Othman Yeop Abdullah Graduate School of Business Malaysia, he was an Associate Professor of Resource Economics at the Faculty of Economics and Management, University Putra Malaysia. Dr. Kuperan is a leading natural resource economist with more than 30 years of experience in resource economics, policy and development research, social science research capacity building, education and training. He was a member of the World Bank Affiliated Centres for International Agricultural Research (CGIAR) senior researchers' team of the World Fish Centre and led the Centre’s Dhaka and South Asia office from January 2004 – March 2005. On the international level, he has served on the board of the Marine Steward Council, United Kingdom and is currently the Chair of the United Nations Global Compact on Responsible Management Education (PRME), ASEAN+ Chapter. He has published over 45 technical publications. 
              </p>
    </div>
  </div>
</div>
        </div>
      </div>
      <div class="column-6 w-col w-col-6" id="7" style="margin-top: 20px;">
        <div class="card-track">
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../track/DrPamsyHui.jpg" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 0% 0%; text-align: center;"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important;font-family: 'Roboto Condensed', sans-serif;">Dr. Pamsy Hui</h4>
              <p style="text-align: center; font-size: 14px;font-family: 'Roboto Condensed', sans-serif;color:#6c757d!important ">SUSTAINABILITY AND DEVELOPMENT</p>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">MBA Programme Director 
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">The Hong Kong Polytechnic University</h5>
            </div>
          </div>
          <div class="row-5 w-row" style="margin-top: 33px;" >
            <div class="w-col w-col-12">
              
          <div class="wrap-collabsible">
  <input id="collapsible" class="toggle" type="checkbox">
  <label for="collapsible" class="lbl-toggle">About Dr. Pamsy Hui</label>
  <div class="collapsible-content">
    <div class="content-inner">
      <p style="font-size: 14px; text-align: justify;">
                Dr Pamsy Hui is the MBA Program Director at the Faculty of Business, the Hong Kong Polytechnic University.  She is the current Chair of the PRME Advisory Committee, as well as the Coordinator for PRME Chapter East Asia.  She teaches leadership, strategic management, and social innovation.  Her current research interests include international management and responsible management education.  Dr Hui obtained her PhD in Organization Science at University of Texas at Austin.  Prior to joining the Hong Kong Polytechnic University, she was a faculty member at Nanyang Technological University in Singapore and Chinese University of Hong Kong.
              </p>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>




            <div class="column-6 w-col w-col-6" id="8" style="margin-top: 20px;">
        <div class="card-track">
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../DrRadhaSharma.png" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 0% 0%; text-align: center;"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important;font-family: 'Roboto Condensed', sans-serif;">Dr. Radha Sharma</h4>
              <p style="text-align: center; font-size: 14px;font-family: 'Roboto Condensed', sans-serif;color:#6c757d!important ">INNOVATING ON PEDAGOGY AND CURRICULUM</p>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Professor (Organizational Behavior) 
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">MDI Gurgaon</h5>
            </div>
          </div>
          <div class="row-5 w-row" style="margin-top: 33px;" >
            <div class="w-col w-col-12">
              
          <div class="wrap-collabsible8">
  <input id="collapsible8" class="toggle8" type="checkbox">
  <label for="collapsible8" class="lbl-toggle8">About Dr. Radha Sharma</label>
  <div class="collapsible-content8">
    <div class="content-inner8">
      <p style="font-size: 14px; text-align: justify;">
                Content coming soon.
              </p>
    </div>
  </div>
</div>
            </div>
          </div>
        </div>
      </div>



      <div class="column-6 w-col w-col-6" id="9" style="margin-top: 20px;">
        <div class="card-track">
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../track/ProfSanrtoshKumar.jpg" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important; font-family: 'Roboto Condensed', sans-serif;">Prof. Santosh Kumar</h4>
              <p style="text-align: center; font-size: 14px;font-family: 'Roboto Condensed', sans-serif;color:#6c757d!important ">ENGAGING WITH SDGs: THE LOCAL EXPERIENCES</p>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Head, Public Policy
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">School of Liberal Arts and Human Sciences
AURO University</h5>
            </div>
          </div>

          <div class="wrap-collabsible1" style="margin-top: 21px;">
  <input id="collapsible1" class="toggle1" type="checkbox">
  <label for="collapsible1" class="lbl-toggle1">About Prof. Santosh Kumar</label>
  <div class="collapsible-content1">
    <div class="content-inner1">
      <p style="font-size: 14px; text-align: justify;">
                Prof. Santosh Kumar is the Professor and Head of Public Policy, School of Liberal Arts and Human Sciences in Auro University. He has been an enthusiast in the area of Politics, Public Policy, Governance and Administration. Having pursued his academics at Jawaharlal Nehru University (JNU), University of Glasgow and Delhi University, his professional career commenced with TISS and subsequently, he got associated with various Universities of national and international repute. 
<br>
As a specialist in the field of Public Policy, he has been engaged with Social Accountability Mechanisms in the Service Delivery Context, Community-based monitoring and evaluations, Decentralization and Good Governance Policies, etc. He has worked on many projects in Poverty Reduction programmes, particularly in South Asia, with the World Bank, UNDP, ADB and others. He has worked on Alternative Paradigms of Development in the Semi-Arid and Arid Regions of India. While for the state of Gujarat, he has been in the policy formulation and implementation in the field of Human Development, Health Insurance, Planning for Even Development across Districts, Solar and Alternative Energy Policy, etc. He has authored two books, has publications in national and international journals, and has been associated with the Open Source Learning programme of UGC. <br>
              </p>
    </div>
  </div>
</div>

        </div>
      </div>
      <div class="column-6 w-col w-col-6" id="10" style="margin-top: 20px;">
        <div class="card-track">
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../DrSandipAnand.jpeg" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important; font-family: 'Roboto Condensed', sans-serif;">Dr. Sandip Anand</h4>
              <p style="text-align: center; margin-bottom: 20px !important; font-size: 14px;color:#6c757d!important ">DESIGN THINKING IN MANAGEMENT</p>
              
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Professor, Xavier Institute of Management
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Founding Associate Dean, Doctoral Programs, <br> Xavier University Bhubaneswar </h5>
            </div>
          </div>
                    <div class="wrap-collabsible10" style="margin-top: 21px;">
  <input id="collapsible10" class="toggle10" type="checkbox">
  <label for="collapsible10" class="lbl-toggle10">About Dr. Sandip Anand</label>
  <div class="collapsible-content10">
    <div class="content-inner10">
      <p style="font-size: 14px; text-align: justify;">
               Dr. Sandip Anand is a professor of marketing at the Xavier Institute of Management, Bhubaneswar, India. As Associate Dean of Doctoral programs at Xavier’s University Bhubaneshwar, he was instrumental in designing different doctoral-level programs and related policies for various schools of XUB. Other than XIMB, he has taught marketing courses at Mudra Institute of Communications, Ahmedabad (MICA), IIM Ranchi, Shiv Nadar University, and Ravenshaw University India. He has provided training to executives from JK paper, Infosys, Mahindra FES, Paradeep Phosphates, SBI, etc. He has shared his research at various institutions/forums such as Guttmacher Institute, New York, IIM Ahmedabad, IIM Lucknow, IIT Delhi, IIT Bombay, International Institute for Population Sciences (IIPS), Saint Louis University Madrid, Villanova University, etc. In 2015, he was a co-chair of TCR track on poverty. In 2014, he was conferred with the K. Srinivasan Award by Indian association for the study of population (IASP) for his published work on public-private partnerships in India. Sandip’s articles have appeared in refereed journals such as Journal of Marketing Communications, Journal of Food Products Marketing, International Journal of Health Care Quality Assurance, IIMB Management Review, International Journal of Rural Management, Demography India, Journal of Health Management, PAA proceedings (Princeton University), proceedings of World Marketing Congress etc. He has authored/co-authored three books. 
              </p>
    </div>
  </div>
</div>
        </div>
      </div>








            <div class="column-6 w-col w-col-6" id="11" style="margin-top: 20px;">
        <div class="card-track">
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../track/ProfSatyajitMajumdar.JPG" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important; font-family: 'Roboto Condensed', sans-serif;">Prof. Satyajit Majumdar</h4>
              <p style="text-align: center; margin-bottom: 20px !important; font-size: 14px;color:#6c757d!important ">SOCIAL ENTREPRENEURSHIP</p>
              
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Professor and Chairperson,
Center for Social Entrepreneurship
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">Tata Institute of Social Sciences (TISS, Mumbai)</h5>
            </div>
          </div>
                    <div class="wrap-collabsible2" style="margin-top: 21px;">
  <input id="collapsible2" class="toggle2" type="checkbox">
  <label for="collapsible2" class="lbl-toggle2">About Prof. Satyajit Majumdar</label>
  <div class="collapsible-content2">
    <div class="content-inner2">
      <p style="font-size: 14px; text-align: justify;">
               Dr. Satyajit Majumdar is a Professor at Centre for Social Entrepreneurship, School of Management and Labour Studies in Tata Institute of Social Science, Mumbai, India. Apart from being a teacher, consultant and researcher, he has been conferred with many awards including Best Case Writer Award, Galpin International Research Fellowship, etc. He is also associated as Expert with UNESCO - Asia-Pacific, UNCTAD – Geneva and British Council – India.  <br>
His primary areas of interest in research are business entrepreneurship and social entrepreneurship with specific focus on 'growth strategy', 'business models' and 'CSR'. He has more than 37 years of experience, previous engagement with Coal India Limited in maintenance and projects, with Indian Statistical Institute as consultant, with Confederation of Indian Industry (CII), Madhya Pradesh as advisor on Small and Medium Enterprises (SME). He has published a lot of papers in reputed journals and also co-authored various books.
              </p>
    </div>
  </div>
</div>
        </div>
      </div>





            <div class="column-6 w-col w-col-6" id="11" style="margin-top: 20px;">
        <div class="card-track">
          <div class="row-5 w-row">
            <div class="w-col w-col-3" style="text-align: center"><img src="../sushanta.jpg" width="225" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%"></div>
            <div class="w-col w-col-9">
              <h4 class="heading-8" style="margin-bottom: 0px !important; font-family: 'Roboto Condensed', sans-serif;">Sushanta Kumar Sarma</h4>
              <p style="text-align: center; margin-bottom: 20px !important; font-size: 14px;color:#6c757d!important ">SOCIAL ENTREPRENEURSHIP</p>
              
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">
Associate Dean-Research, Human Resource Management
              </h5>
              <h5 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif;">TAPMI</h5>
            </div>
          </div>
                    <div class="wrap-collabsible13" style="margin-top: 21px;">
  <input id="collapsible13" class="toggle13" type="checkbox">
  <label for="collapsible13" class="lbl-toggle13">About Sushanta Kumar Sarma</label>
  <div class="collapsible-content13">
    <div class="content-inner13">
      <p style="font-size: 14px; text-align: justify;">
               Sushanta Kumar Sarma is a Fellow from IRMA and currently working as Associate Professor at T A Pai Management Institute, Manipal. His research interests revolves around hybrid organizations and social entrepreneurship.
              </p>
    </div>
  </div>
</div>
        </div>
      </div>





    </div>

  </div>
</div>