<% content_for :styles do %>
    <style type="text/css">
        .heading-tittle h2 {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    background-color: inherit;
    padding-left: 14px;
    padding-right: 14px;
    z-index: 2;
    font-size: 26px;
    line-height: 24px;
    background: #fff;
    margin: 0;
    text-transform: uppercase; }

    .heading-tittle.color-black h2{
            color: #222;
    }
    .heading-tittle {
    position: relative;
    text-align: center;
}
.heading-tittle::before, .heading-tittle::after {
    content: "";
    position: absolute;
    width: 35%;
    height: 0;
    border-top-width: 2px;
    color: #3b1e9a;}

    .heading-tittle::after {
    top: 7%;
    border-top-style: solid;
    left: auto;
    right: 33%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    </style>
<%end%>  

    <div>
      <div class="heading-tittle color-black w-container">
        <h2 class="" style="margin-top: 30px; margin-bottom:30px;">List of tracks</h2>
        <div class="div-block-4" style="text-align: left">
          <h6 class="heading-11">The conference presentation tracks include the following:</h6>
          <ul class="unordered-list">
            <li class="list-item">Innovating on pedagogy and curriculum.</li>
            <li class="list-item-2">Building inclusive markets</li>
            <li class="list-item-3">Re-thinking CSR</li>
            <li class="list-item-4">Asian way of thinking: Integrating local diversities in management education</li>
            <li class="list-item-5">Management education for the future</li>
            <li class="list-item-6">Sustainability and development</li>
            <li class="list-item-7">Social impact investing</li>
            <li class="list-item-8">Sustainable businesses</li>
            <li class="list-item-9">Sustainable cities</li>
            <li class="list-item-10">Social entrepreneurship</li>
            <li class="list-item-11">Global peace and education</li>
            <li class="list-item-12">Business Initiatives for Sustainable Development</li>
            <li class="list-item-13">Inequality - the role for businesses</li>
            <li class="list-item-14">Engaging with Sustainable Development Goals - The local experiences</li>
            <li class="list-item-14">Extreme events, disasters and building resilience</li>
          </ul>
        </div>
      </div>
    </div>

