    <div>
      <div class="container-5 w-container">
        <h3 class="heading-5">List of tracks</h3>
        <div class="div-block-4">
          <h6 class="heading-11">The conference presentation tracks include the following:</h6>
          <ul class="unordered-list">
            <li class="list-item">Innovating on pedagogy and curriculum.</li>
            <li class="list-item-2">Building inclusive markets</li>
            <li class="list-item-3">Re-thinking CSR</li>
            <li class="list-item-4">Asian way of thinking: Integrating local diversities in management education</li>
            <li class="list-item-5">Management education for the future</li>
            <li class="list-item-6">Sustainability and development</li>
            <li class="list-item-7">Social impact investing</li>
            <li class="list-item-8">Sustainable businesses</li>
            <li class="list-item-9">Sustainable cities</li>
            <li class="list-item-10">Social entrepreneurship</li>
            <li class="list-item-11">Global peace and education</li>
            <li class="list-item-12">Business Initiatives for Sustainable Development</li>
            <li class="list-item-13">Inequality - the role for businesses</li>
            <li class="list-item-14">Engaging with Sustainable Development Goals - The local experiences</li>
            <li class="list-item-14">Extreme events, disasters and building resilience</li>
          </ul>
        </div>
      </div>
    </div>

