<div>
  <div class="container-5 w-container">
    <h3 class="heading-5">TRACK DETAILS</h3>
    <div class="row-3 w-row">
      <div class="column-12 w-col w-col-12">
        <div class="div-block-5" style="background-color: #f2f2f2">
          <div class="row-5 w-row">
            <div class="w-col w-col-12" style="padding: 10px;">
              <h4 class="heading-8" style="text-align: left !important;">Engaging with SDGs: The Local Experiences<br></h4>
              <p style="text-align: justify;">
                The 2030 Agenda for Sustainable Development, adopted at the United Nations in 2015, sets out an ambitious plan of action with the overarching objective of leaving no one behind. At its core are 17 Sustainable Development Goals (SDGs) comprising 169 targets to be achieved by 2030. These 17 Goals build on the experiences of the Millennium Development Goals, while including new areas such as climate change, economic inequality, innovation, sustainable consumption, peace and justice, among other priorities. The goals are interconnected – often the key to success on one goal will involve tackling issues more commonly associated with another. It is also important to note that successful implementation of SDGs will require partnership among all stakeholders e.g. Government, NGOs, Businesses, Civil Society and Academia, etc.  <br>
                If we talk about Asia and Pacific region, it is important to note that some SDGs have registered positive progress, particularly towards Goal 9 - focused on industry, innovation and infrastructure. However, Asia and the Pacific has failed to reduce inequalities within and among countries (SDG 10) and inequalities have widened since 2000. Regional progress towards SDGs focused on promoting environmental sustainability has been insufficient across the board. <br>
                In this context, it is pertinent to deliberate and understand what progress, so far, have been made, and how multi-stakeholder integrated approach can be adopted to advance the 2030 agenda. This session will thus provide a platform to foster dialogues with regard to SDG implementation and exploring the best practices. The session will try to see how the businesses are integrating the SDGs framework for future growth. How can business work with governments to develop policy frame9work to achieve 2030 agenda? How academia and civil society can help in advancing the 2030 agenda? What are some successful examples of collective action in this regard?  <br>
                The papers are invited in the following specific areas: <br>
                <li>
                  Policy formwork for the SDGs in Asia region and progress 
                </li>
                <li>
                  The role of  Businesses in the implementation of SDGs (Invited Guests)
                </li>
                <li>
                  SDGs and Social Engagement in Asian region (invited Guests)
                </li>
                <li>
                  Academic Perspectives on the SDG: Opportunities and Challenges  
                </li>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="column-12 w-col w-col-12">
        <div class="div-block-5" style="background-color: #f2f2f2; margin-top: 40px;">
          <div class="row-5 w-row">
            <div class="w-col w-col-12" style="padding: 10px;">
              <h4 class="heading-8" style="text-align: left !important;">Sustainability and Development<br></h4>
              <p style="text-align: justify;">
                Asia consists of a large number of emerging economies.  Since the early 1990s, about a billion people in Asia have been lifted out of poverty.  Nevertheless, many are still left behind.  At the same time, the drive to achieve economic development has put immense pressure on both the social and the environmental fronts.  The ambitious, comprehensive and interconnected nature of the 2030 Agenda poses to us all tough questions about the challenges and opportunities ahead.  Can we build sustainable prosperity such that everyone has a chance to flourish and future generations are not left with depleted resources?   <br>
                
                Examples of questions to examine in this track include: <br>
                <li>
                  Does economic development necessarily mean trade-offs in the social and environmental dimensions?  Can the development of social agenda (e.g., gender equality, quality education, quality healthcare) and environmental preservation (e.g., affordable and renewable energy, circular economy) be opportunities for economic development? 
                </li>
                <li>
                  What are the biggest challenges within the 2030 Agenda for different Asian economies?  How can we tackle these challenges?
                </li>
                <li>
                  Unbridled economic growth and development often brings sustainability challenges, such as widening income gap among people, massive urbanization with insufficient infrastructure, deforestation with threats to biodiversity, inadequate waste management endangering life on land and below water, etc.  Many such issues call for policy interventions.  How can public-private partnership help us build a sustainable future?
                </li>
                <li>
                  Other questions that address sustainability issues related to economic development are welcome.
                </li>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>