<div>
      <div class="w-container" style="margin-top: 30px;">
        <h3 class="heading-5">UN GLOBAL COMPACT</h3>
    </div>

    <div class="w-container">
    	<p>
    		The UN Global Compact is the world's largest corporate sustainability initiative. It is a call to companies to align strategies and operations with universal principles on human rights, labour, environment and anti-corruption, and take actions that advance societal goals. 
At the UN Global Compact, we aim to mobilize a global movement of sustainable companies and stakeholders to create the world we want. To make this happen, the UN Global Compact supports companies to:<br>

<li>Do business responsibly by aligning their strategies and operations with Ten Principles on human rights, labour, environment and anti-corruption; and</li>
<li> Take strategic actions to advance broader societal goals, such as the UN Sustainable Development Goals, with an emphasis on collaboration and innovation.</li>

    	</p>
    </div>
</div>