
<% content_for :styles do %>
    <style type="text/css">
        .heading-tittle h2 {
          text-transform: uppercase;
          position: relative;
          text-align: center;
          font-size: 28px;
          font-weight: 400px;
          line-height: 10px;
          letter-spacing: 1px;
          font-family: 'Roboto Condensed', sans-serif;
     }
    

    </style>
<%end%> 
<div>
      <div class="heading-tittle color-black w-container" style="margin-top: 30px; margin-bottom: 30px;">
        <h2 class="-5"><p style="text-decoration: underline; text-decoration-color: #3b1e9a;">Workshop Details</p></h2>
    </div>

          <div class="row-2">
            <div class="column-6 w-col w-col-6">
              <div class="card-track" style="padding: 10px; text-align: justify;">
                <h4 class="heading-8" style="font-family: 'Roboto Condensed', sans-serif;"> <u> Experiential learning: Towards developing leaders</u></h4>
                <div style="margin-left: 10px;">
                  <div class=" w-row">
                  <div class="w-col w-col-3">
                    <img src="../DrNirjaMattoo.jpg" class="image-6" style="border-radius: 50%; height: 120px; width: 120px; object-fit: cover; object-position: 50% 0%">
                  </div>
                  <div class="w-col w-col-9" style="margin-top: 20px;">
                      <h5 class="heading-8" style="font-family: 'Roboto Condensed', sans-serif;">Chair- Dr. Nirja Mattoo</h5>
                      <h6 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif; color:#6c757d!important">Chairperson, <br> Centre for Development of Corporate Citizenship (C-DoCC) </h6>
                      <h6 class="heading-10" style="font-size: 16px;font-family: 'Roboto Condensed', sans-serif; color:#6c757d!important">SPJMR</h6>
                  </div>
                  </div>
                </div>
                </p>
              </div>
        </div>
        <div class="column-6 w-col w-col-6">
          <div class="card-track" style="height: 227px; padding: 10px;">

            <h4 class="heading-8" style="font-family: 'Roboto Condensed', sans-serif; padding-top: 50px;"> <u> Leveraging PRME for Global Partnerships (in partnership with UN Global Compact) </u></h4>
          </div>
        </div>
      </div>

</div>